@tailwind base;
@tailwind components;
@tailwind utilities;

.google-material-icons,
.material-icons {
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-800;
}

body {
  font-family: "Roboto";
}
.call-card {
  min-width: 400px;
}
@media only screen and (max-width: 450px) {
  .call-card {
    min-width: 50px;
    width: 50px;
  }
}
