@tailwind base;
@tailwind components;
@tailwind utilities;

.google-material-icons,
.material-icons {
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-800;
}

body {
  font-family: "Roboto";
}
.call-card {
  min-width: 400px;
}
@media only screen and (max-width: 450px) {
  .call-card {
    min-width: 50px;
    width: 50px;
  }
}

.animate-mic {
  animation: animate1 0s ease-in-out infinite;
  animation-direction: alternate;
}

.animate-mic-1 {
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}

.animate-mic-2 {
  animation-duration: 0.8s;
  animation-delay: 0.2s;
}

.animate-mic-3 {
  animation-duration: 0.3s;
  animation-delay: 0.5s;
}

@keyframes animate1 {
  0% {
    @apply h-1;
  }
  50% {
    @apply h-2;
  }
  100% {
    @apply h-3;
  }
}
